body {
  background-color: black;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  text-align: center;
}

#title {
	font-family: 'Lobster', cursive;
	font-weight: 200;
	font-size: 5.5em;
  margin: 0 auto;
}
#pageWrapper {
  display: flex;
  width: 100%;
}

#header {
  text-align: center;
  width: 800px;
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
}

.square {
	margin: 0;
	padding: 0;
	background-color: #555;
	position: relative;
	display: inline-block;
	outline: 1px solid black;
}
.squareNoGrid {
	outline: 0px;
}

#board {
	padding: 0;
  margin: 0 auto;
	font-size: 0;
	width: 650px;
	height: 650px;
}

#nav {
	padding: 15px;
	height: 609px;
	width: 200px;
  margin-top: 111px;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
  background: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 8px;
  -webkit-box-shadow: 1px 2px 1px #d1d1d1;
  -moz-box-shadow: 1px 2px 1px #d1d1d1;
  box-shadow: 1px 2px 1px #d1d1d1;
}

.drop-shadow {
  position: relative;
  width: 90%;
}

h1 {
  color:white;
}

.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.sizeBox {
	width: 75px;
	height: 20px;
	font-size: 1em;
}
.row-first-cell {
	clear: both;
}
a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 55px;
    padding: 0 5px;
    border-radius: 7px;
    text-decoration: none;
    transition: all .3s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 55px;
}

.btn {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  color: #FFF;
	font-size: 1em;
	height: 30px;
	width: 150px;
  background: #3b88d8;
  -webkit-background-clip: padding-box;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
   border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;    text-shadow: 0 -1px 1px #3275bc;
}
.btn:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}
.btn:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
}

#sizeInput {
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
#sizeInput:focus,
#sizeInput.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#colorBox {
  width: 100px;
}

#sizeInput {
  width: 150px;
}

.smallMenu {
  border: 3px solid darkgray;
  padding-top: 15px;
  background-color: lightgoldenrodyellow;
}

.smallMenuTwo {
  border: 1px solid black;
  background-color: darkgray;
}

.wrap {
    background: #FFF;
    margin: 5px auto;
    padding:20px;
    border-radius: 2px 2px 2px 2px; 
    -webkit-box-shadow: 0 1px 4px 
    rgba(0, 0, 0, 0.3), 0 0 40px 
    rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px 
    rgba(0, 0, 0, 0.3), 0 0 40px 
    rgba(0, 0, 0, 0.1) inset;
}